body {
    background-color: rgb(174, 174, 245);
    font: normal 15pt, arial;
}

header {
    color: black;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px;
    color: black;
}

footer {
    color: black;
    text-align: center;
    font-style: italic;
}